{% load i18n %}
<li>
    <div class="action">
    {% if object.concept %}
        <span>
        <input type='checkbox' id="id_items_{{object.id}}" name="items" value='{{ object.id }}' title='{% trans "select to perform a bulk action" %}'>
            {% include "search/badge.html" with item=object %}
        </span>
        {% if item.concept in request.user.profile.favourites.all %}
            <i class="fa fa-bookmark" title="{% trans 'This item is in your favourites list' %}"></i>
        {% endif %}
    {% else %}
        <div></div>
    {% endif %}
    </div>
    {% include "search/searchItem.html" with item=object %}
</li>
