{% extends "aristotle_mdr/concepts/managedContent.html" %}
{% load aristotle_tags %}

{% block includes %}
{% endblock %}

{% block objSpecific %}
<h2>Derivation</h2>
<tt>
    {{ item.derivation_rule }}
</tt>
<dl>
    <dt>Derived Data Element
        <a href="{% url 'aristotle_mdr:dataelementderivation_change_derives' iid=item.pk %}" 
        class="btn btn-default"
        data-toggle="modal" data-target="#derivation_editor"
        >Edit derivations</a>
    </dt>
    <dd>
    {% for de in item.derives.all %}
        <dd>
            {% include "aristotle_mdr/helpers/inlineDetails.html" with item=de %}
        </dd>
    {% empty %}
        <dd><em>None</em></dd>
    {% endfor %}
    </dd>
    <dt>Input Data Elements
        <a href="{% url 'aristotle_mdr:dataelementderivation_change_inputs' iid=item.pk %}"
        class="btn btn-default"
        data-toggle="modal" data-target="#derivation_editor"
        >Edit inputs</a>
    </dt>
    {% for de in item.inputs.all %}
        <dd>
            {% include "aristotle_mdr/helpers/inlineDetails.html" with item=de %}
        </dd>
    {% empty %}
        <dd><em>None</em></dd>
    {% endfor %}
</dl>
{% bootstrap_modal 'derivation_editor' size='md' %}
{% endblock %}

{% block relationships %}
{% endblock %}
