{% extends "aristotle_mdr/helpers/wizard_form.html" %}

{% load i18n %}

{% block form_tag %}
<form method="post" action="{% url 'aristotle:change_state_bulk_action' %}?next={{next}}">
{% endblock %}

{% block form %}
      <header>This form allows you to change the status of items in your registration authorities.
      </header>
      <div class="changeStatusDiv">
          {{ wizard.form.items.label }}
          {{ wizard.form.items }}
      </div>
      <section>
      <div class="changeStatusDiv">
          <span>
              <label>
              {{ wizard.form.registrationDate.label }}:
              </label>
              {{ wizard.form.registrationDate.errors }}
          </span>
          <span>
              {{ wizard.form.registrationDate }}
          </span>
      </div>
      <div class="changeStatusDiv">
          <span>
              <label>
              {{ wizard.form.cascadeRegistration.label }}:
              </label>
              {{ wizard.form.cascadeRegistration.errors }}
          </span>
          <span>
              {{ wizard.form.cascadeRegistration }}
          </span>
      </div>
      <div id="changeStatus">
          <div>
              <span>
                  {{ wizard.form.state.label }}
                  {{ wizard.form.state.errors }}
              </span>
              <span>
                  {{ wizard.form.registrationAuthorities.label }}
                  {{ wizard.form.registrationAuthorities.errors }}
              </span>
          </div>
          <div>
              {{ wizard.form.state }}
              {{ wizard.form.registrationAuthorities }}
          </div>
      </div>
      <div class="status_change_description">
          {{ wizard.form.changeDetails.label }} (optional):
          {{ wizard.form.changeDetails }}
      </div>
      </section>
{% endblock %}

{% block buttons %}
<div class="pull-right">
<a class="btn btn-default" href="{{ next }}" >Cancel</a>
<input class="btn btn-success" type="submit" name="submit_next" value="{% trans 'Review Changes' %}" />
<input class="btn btn-primary" type="submit" name="submit_skip" value="{% trans 'Update Status' %}" />
</div>
{% endblock %}
