<section>
<div class="changeStatusDiv">
    <span>
        <label for="id_registrationDate">{{ wizard.form.registrationDate.label }}</label>:
        {{ form.registrationDate.errors }}
    </span>
    <span class="pull-right">
        {{ form.registrationDate }}
    </span>
</div>
<div class="changeStatusDiv">
    <span>
        <label for="id_cascadeRegistration">
        {{ form.cascadeRegistration.label }}
        </label>
        {{ form.cascadeRegistration.errors }}
    </span>
    <span class="pull-right">
        {{ form.cascadeRegistration }}
    </span>
</div>
<div id="changeStatus">
    <div>
        <span>
            {{ form.state.label }}
            {{ form.state.errors }}
        </span>
        <span>
            {{ form.registrationAuthorities.label }}
            {{ form.registrationAuthorities.errors }}
        </span>
    </div>
    <div>
        {{ form.state }}
        <ul>
        {% for val,label_text in form.registrationAuthorities.field.choices %}
        {% if val %}
            <li>
                <input type="radio" id="{{ wizard.steps.current }}-registrationAuthorities_{{val}}" name="{{ wizard.steps.current }}-registrationAuthorities" value="{{val}}">
                <label for="{{ wizard.steps.current }}-registrationAuthorities_{{val}}">{{label_text}}</label>
                <a href="{% url 'aristotle_mdr:registrationAuthority' iid=val %}" title="Visit the registration authority page to learn more about state meanings for this authority" class="pull-right">
                    <i class="fa fa-fw fa-university"></i>
                </a>
            </li>
        {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
<div class="status_change_description">
    {{ form.changeDetails.label }} (optional):
    {{ form.changeDetails }}
</div>
</section>
