{% extends 'aristotle_mdr/base.html' %}
{% load compile_static i18n util_tags %}

{% block extra_head_scripts %}
    <link rel="stylesheet" href="{{ STATIC_URL }}{% compile 'aristotle_mdr/aristotle.wizard.less' %}" />
{% endblock %}

{% block content %}
    <form method="post" action="">{% csrf_token %}
    <div class="modal-body">
        <h1>{% block title %}{% endblock %}</h1>
        {{wizard.management_form}}
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
        {% block wizard_content %}
        {% endblock %}
        <div class="modal-footer">
            <a class="btn btn-default" href="">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Next" />
        </div>
    </div>
    </form>
{% endblock %}
