{% extends "aristotle_mdr/user/userHome.html" %}
{% load i18n %}

{% block collapse-link %}
    <i class="fa fa-users fa-fw"></i> All Registration Authorities </a>
{% endblock %}

{% block sidebar %}
    {% include "aristotle_mdr/user/userSideBar.html" with activeTab='adminTools' %}
{% endblock %}

{% block page %}
<h1>{% block title %} Editing - {{ item.name }}{% endblock %}</h1>


<form action="" method="POST">
{% csrf_token %}
<table class="table">
{% for field in form %}
  <tr>
    <th>{{ field.label_tag }} {% if field.help_text %}<small>{{ field.help_text|safe }}</small>{% endif %}</th>
    <td>{{ field.errors }} {{ field }}</td>
  </tr>
{% endfor %}
</table>
<a class="btn btn-danger" href="{% url 'aristotle:registrationauthority_details' item.id %}">Cancel</a>
<button class="btn btn-primary" type="submit">Save changes</button>
</form>

</section>
{% endblock %}
